[Unit]
Description=Greetings Service

[Service]
Type=simple
WorksingDirectory=/opt/greetings
ExecStart=/bin/sh -c "exec java -jar /opt/greetings/{{ app_binary }}"

[Install]
WantedBy=multi-user.target
